# dependencies
node_modules

# vercel
.vercel

# typescript
tsconfig.tsbuildinfo

# turbo
.turbo

# IntelliJ
.idea

# Prisma
generated

# env files (can opt-in for committing if needed)
.env*
!.env.example
!.env.prod

# Data files in CLI tool
/backend/src/cli/data/*.json5
!/backend/src/cli/data/*.example.json5

dist
dist-ssr

.prettierrc.json

.DS_Store

.nitro
.tanstack
.wrangler
.output
.vinxi
